.price-card {
  width: 380px;
  height: 770px;
  display: flex;
  flex-direction: column;
  background-color: #334247;
  margin-right: 18px;
  overflow: hidden;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
}
.price-card:last-child {
  margin-right: 0;
}
.price-card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price-card__title_main {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  margin: 0;
}
.price-card__title_show {
  margin-top: 0;
  font-weight: 300px;
  font-size: 20px;
  line-height: 24px;
}
.price-card__price {
  height: 105px;
  width: 100%;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-card__description {
  width: 327px;
  height: 36px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin: 40px 26px;
}
.price-card__options-list {
  margin: 0;
  width: 380px;
  height: 300px;
  padding-left: 0;
}
.price-card__options-list_item {
  list-style-type: none;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 380px;
  height: 50px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.price-card__options-list_item:nth-of-type(odd) {
  background-color: #2A3438;
}
.price-card__order-btn {
  width: 154px;
  height: 40px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  color: #fff;
}

.basic__button {
  background-color: #5BB189;
  margin: 39px 113px 40px 112px;
}
.basic__price {
  background-color: #5BB189;
}
.basic__title {
  margin: 33px 140px;
  width: 100px;
}
.basic__icon {
  display: inline-block;
  margin-left: 22px;
  margin-right: 22px;
  height: 13px;
  width: 15px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
}

.business {
  position: relative;
}
.business__button {
  background-color: #3A6BA5;
  margin: 39px 113px 40px 112px;
}
.business__price {
  background-color: #3A6BA5;
}
.business__title {
  margin: 33px 108px;
  width: 164px;
}
.business__popular {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 147px;
  background-color: #DC3F45;
  left: 263px;
  top: 27px;
  transform: rotate(45deg);
}
.business__icon {
  display: inline-block;
  margin-left: 22px;
  margin-right: 22px;
  height: 13px;
  width: 15px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
}

.webshop__button {
  margin: 39px 113px 37px 112px;
  background-color: #EC632A;
}
.webshop__price {
  background-color: #EC632A;
}
.webshop__title {
  margin: 36px 102px 33px 102px;
  width: 176px;
}
.webshop__icon {
  display: inline-block;
  margin-left: 22px;
  margin-right: 22px;
  height: 13px;
  width: 15px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

body {
  min-height: 100vh;
  background-color: #141b1c;
}

.price-table {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
