.basic {
    &__button {
        background-color: $color-green;
        margin: 39px 113px 40px 112px;
    }
    &__price {
        background-color: $color-green;
    }
    &__title {
        margin: 33px 140px;
        width: 100px;
    }
    &__icon {
        display: inline-block;
        margin-left: 22px;
        margin-right: 22px;
        height: 13px;
        width: 15px;
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
    }
}