.basic {
    &__button {
        background-color: $color-green;
        margin: 39px 113px 40px 112px;
    }
    &__price {
        background-color: $color-green;
    }
    &__title {
        margin: 33px 140px;
        width: 100px;
    }
}