.business {
    position: relative;
    &__button {
        background-color: $color-blue;
        margin: 39px 113px 40px 112px;
    }
    &__price {
        background-color: $color-blue;
    }
    &__title {
        width: 164px;
        margin: 33px 108px;
    }
    &__popular {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 147px;
        background-color: $color-red;
        left: 263px;
        top: 27px;
        transform: rotate(45deg);
    }
}