.price-card {
    width: 380px;
    height: 770px;
    display: flex;
    flex-direction: column;
    background-color: $color-light-black;
    margin-right: 18px;
    overflow: hidden;
    &:last-child {
        margin-right: 0;
    }
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 64px;
        &_main {
            font-weight: 700;
            font-size: 35px;
            line-height: 43px;
            margin: 0;
        }
        &_show {
            margin-top: 0;
            font-weight: 700px;
            font-size: 20px;
            line-height: 24px;
        }
    }
    &__price {
        height: 105px;
        width: 100%;
        font-weight: 700;
        font-size: 55px;
        line-height: 67px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__description {
        width: 327px;
        height: 36px;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        margin: 40px 26px;
    }
    &__options-list {
        margin-top: 0;
        width: 380px;
        height: 300px;
        padding-left: 0;
        &_item {
            list-style-type: none;
            list-style-position: inside;
            padding-top: 16px;
            padding-bottom: 16px;
            width: 380px;
            height: 50px;
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            &:nth-of-type(odd) {
                background-color: $color-dark-grey;
            }
        }
    }
    &__order-btn {
        width: 154px;
        height: 40px;
        border-radius: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        border: none;
        color: $color-white;
    }
}