@import 'variables.scss';
@import 'common.scss';
@import 'basic.scss';
@import 'business.scss';
@import 'webshop.scss';
* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: $color-white;
}

.price-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-dark;
    z-index: 2;
}