@import 'variables.scss';
@import 'common.scss';
@import 'basic.scss';
@import 'business.scss';
@import 'webshop.scss';
* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: $color-white;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: $color-dark;
}

.price-table {
    margin: auto;
    display: flex;
}