$color-light: #F4F5F7;
$color-dark:#2B292D;
$color-light-blue:#00A1C612;
$color-white: #fff;
$color-white-light:#F2F2F2;
$color-blue:#3141C5;
$color-coral:#F3C6BD;
$text-color-light-grey:rgba(43, 41, 45, 0.6);
$text-color-blue: #3142c6;
$text-color-white: #fff;
$text-color-blue:#3040C4;
$text-color-green:#009B4D;
$border-color: rgba(43, 41, 45, 0.2);