.webshop {
    margin-bottom: 3px;
    &__button {
        margin: 39px 113px 37px 112px;
        background-color: $color-orange;
    }
    &__price {
        background-color: $color-orange;
    }
    &__title {
        margin: 36px 102px 33px 102px;
        width: 176px;
    }
    &__icon {
        display: inline-block;
        margin-left: 22px;
        margin-right: 22px;
        height: 13px;
        width: 15px;
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
    }
}