.webshop {
    &__button {
        margin: 39px 113px 37px 112px;
        background-color: $color-orange;
    }
    &__price {
        background-color: $color-orange;
    }
    &__title {
        margin: 36px 102px 33px 102px;
        width: 176px;
    }
}